#app4{

}
@keyframes change {
    0%{
        background: red;
    }
    20%{
        background: orange;
    }
    40%{
        background: yellow;
    }
    60%{
        background: green;
    }
    80%{
        background: blue;
    }
    100%{
        background:purple;
    }

}
#app4 .circle{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid pink;
}
#app4 .circle:hover{
    animation: change 6s infinite alternate linear;
}